In [2]:
import sqlite3
conn = sqlite3.connect('data.sqlite')

In [3]:
! ls

DSF_PT08_create_SQL_database_and_select_elements_from_tables.ipynb  data.sqlite
Untitled.ipynb

In [10]:
cur = conn.cursor()

In [16]:
import  sqlite3

class_conn = sqlite3.connect('class_') # Creating a database called class
class_cur = class_conn.cursor() # Helps us to excute the  sql commands

# Add two tables ; admission and classroom

class_cur.execute("""
                  CREATE TABLE IF NOT EXISTS admission
                  ([student_id] INTEGER PRIMARY KEY,
                  [gender] TEXT(20),
                  [name] TEXT(100))
                  """)
class_cur.execute("""
                  CREATE TABLE IF NOT EXISTS classroom
                  ([student_id] INTEGER PRIMARY KEY,
                  [gender] TEXT(20),
                  [name] TEXT(100),
                  [marks] INTEGER)

                  """)
class_conn.commit() #  commint adds our two tables  in our database we have ctreated

In [17]:
class_cur.execute("""
                  INSERT  INTO admission (student_id, gender, name)

                    VALUES
                    (1,'F','IVY'),
                    (2,'F','JUNE'),
                    (3,'M','ERIC')
                  """)
class_cur.execute("""names 
                  INSERT  INTO classroom (student_id, gender, name)

                    VALUES
                    (1,'F','IVY'),
                    (2,'F','JUNE'),
                    (3,'M','ERIC')
                  """)
class_conn.commit()

In [18]:
! ls

DSF_PT08_create_SQL_database_and_select_elements_from_tables.ipynb  class_
Untitled.ipynb							    data.sqlite

In [20]:
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")

table_names = cur.fetchall()
table_names

[('orderdetails',),
 ('payments',),
 ('offices',),
 ('customers',),
 ('orders',),
 ('productlines',),
 ('products',),
 ('employees',)]

In [22]:
cur.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'employees';""")

employee_columns = cur.fetchall()
employee_columns

[('CREATE TABLE `employees` (`employeeNumber`, `lastName`, `firstName`, `extension`, `email`, `officeCode`, `reportsTo`, `jobTitle`)',)]

In [23]:
cur.execute("""SELECT * FROM employees LIMIT 5;""")
cur.fetchall()

[('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President'),
 ('1056',
  'Patterson',
  'Mary',
  'x4611',
  'mpatterso@classicmodelcars.com',
  '1',
  '1002',
  'VP Sales'),
 ('1076',
  'Firrelli',
  'Jeff',
  'x9273',
  'jfirrelli@classicmodelcars.com',
  '1',
  '1002',
  'VP Marketing'),
 ('1088',
  'Patterson',
  'William',
  'x4871',
  'wpatterson@classicmodelcars.com',
  '6',
  '1056',
  'Sales Manager (APAC)'),
 ('1102',
  'Bondur',
  'Gerard',
  'x5408',
  'gbondur@classicmodelcars.com',
  '4',
  '1056',
  'Sale Manager (EMEA)')]